* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    width: 100%;
    /*METTRE LE BODY A 100%*/

    border: solid blue;
}

:root {
    --main-color: white;
    --font-primaire: #f4f4f4;
    --font-second: #fac758;
    --nav-color: #650808;
    --font-familyPrincipal: helvetica;
    --font-familyTitle: "Roboto", sans-serif;

    --dark-color: black;
}

h1,
h2 {
    font-family: var(--font-familyTitle);
    color: #650808;
}

h3 {
    font-family: var(--font-familyPrincipal);
    font-size: 0.8rem;
    color: var(--dark-color);
}

.container1 {
    background-image: url(assets/img-accueil/french.png);
}

.typeImg {
    width: 400px;
}

#asiatic {
    background-image: url(assets/img-accueil/asiatic.png);
    background-size: cover;

}

#italian {
    background-image: url(assets/img-accueil/italian.png);
    background-size: cover;
}

#american {
    background-image: url(assets/img-accueil/american.png);
    background-size: cover;
}

#african {
    background-image: url(assets/img-accueil/african.png);
    background-size: cover;
}

#traditionnal {
    background-image: url(assets/img-accueil/french.png);
    background-size: cover;
}

#vegan {
    background-image: url(assets/img-accueil/vegan.png);
}


.container2 {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.container3 {
    display: flexbox;
    flex-wrap: wrap;
}