* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    width: 100%;
    /*METTRE LE BODY A 100%*/

    border: solid blue;
}

:root {
    --main-color: white;
    --font-primaire: #f4f4f4;
    --font-second: #fac758;
    --nav-color: #650808;
    --font-familyPrincipal: helvetica;
    --font-familyTitle: "Roboto", sans-serif;

    --dark-color: black;
}

/* FONT */
h1,
h2 {
    font-family: var(--font-familyTitle);
    color: #650808;
    font-size: 6vw;
    text-align: center;
    padding: 1.5rem;
}

/* h3 {
    font-family: var(--font-familyPrincipal);
    font-size: 0.8rem;
    color: var(--dark-color);
} */

.typeOfRestos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;


}



.typeImg {
    width: 35vw;
    height: 35vw;
    background-size: cover;
    border: none;
    padding: none;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}





#asiatic {
    background-image: url(assets/img-accueil/asiatic.png);


}

#italian {
    background-image: url(assets/img-accueil/italian.png);

}

#american {
    background-image: url(assets/img-accueil/american.png);

}

#traditionnal {
    background-image: url(assets/img-accueil/french.png);

}

.favoriteImg {
    background-size: cover;
    width: 35vw;
    height: 35vw;
}

#favorite1 {
    background-image: url(assets/img-accueil/vegan.png);
}

#favorite2 {
    background-image: url(assets/img-accueil/african.png);
}