@media screen and (min-width: 600px) {
    .burger-icon {
        display: none;
    }
    
}

.logo {
    padding-bottom: 0.7rem;
}

header {
    padding: 0;
}

.navul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
}
