@media screen and (min-width: 600px) {
      
    #restaurant {
        flex-direction: row;
        height: 100%;
        width: 90%;
        flex-wrap: wrap;
    }
 .restoImg {
    width: 100%;
    height: 12vw;
  
 }
 .autreImg{
    width: 40%;
    height: 10vw;
    background-size: 100%;
    
 }
 .colorpad{
    width: 47%;
    height: 12vw;
 }
    main{
        width: 70%;
        padding-left: 0%;
        padding-right: 0%;
        min-height: 650px;
        }
    #main{
       align-items: center;
        width: 100%;
        height: 150%;
        justify-items: center;
        padding: 0;
        
        
    }
    iframe{
       width: 33%;
       height: 620px;
    }
  /*  .first{ width: 30%;
    height: 50%;}
    .second{ width: 30%;
        height: 50%;}
    .thirth{ width:30%;
        height: 50%;}
    .fourth{ width: 30%;
    height: 50%;}     */

.secondItem{
display: flex;
justify-content: center;
height: 15em ;
}
.secondItem section{
width: 80%;
}
#suggestions{
padding-bottom: 0%;
width: 100%;
}
#autre div{
height: 50%;
width: 30%;
}
#autre {
height: 100%;
width: 100%;
gap: 5%;
}
.socialiIcons{
    display: flex;
    justify-content: space-between;
}
.suggest{
   /* position: relative;
    top: 85%;
    width: 100%;
    left: 0%;*/
    height: 190px;
}
.test {
    height: 15rem;
    display: none;
}
h1 {
    padding: 1em 0 1em;
}
#carousel {
    width: 95%;
    padding-top: 3%;
    transform: translateY(-10%);
}
#desktop{
    display:flex;
    flex-direction: row;
    padding-right: 3%;
    padding-left: 3%;
}
.banniere{
    display: block;
}
}
.none{
    display: none;
}
.logo{
    padding-top: 1rem;
    padding-left: 1rem;
}
