/* RESTAURANT TRANDI FRANCE */
#georges {
    background-image: url(assets/georges.jpg);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}


#auguste {
    background-image: url(assets/Auguste.png);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#prairial {
    background-image: url(assets/prairial.jpg);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#simone {
    background-image: url(assets/mlleSimone.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

/*============ RESTO ASITIQUE ==================*/

#inada {
    background-image: url(assets/inada.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#saveur {
    background-image: url(assets/saveurdumonde.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#shifumii {
    background-image: url(assets/SHIFUMII.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#hanoi {
    background-image: url(assets/Hanoi.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

/*============ PIZZERIA ============ */
#palio {
    background-image: url(assets/palio.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#avarelo {
    background-image: url(assets/avarello.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#terramia {
    background-image: url(assets/terramia.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#cucina {
    background-image: url(assets/cucina.png);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

/* =========== BURGERS ===============*/
#rem {
    background-image: url(assets/Rem.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#southFood {
    background-image: url(assets/southFood.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#bChef {
    background-image: url(assets/bChef.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

#bPapa {
    background-image: url(assets/Bpapa.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
}

/* =========== CAROUSEL ===============*/
#remCar {
    background-image: url(assets/Rem.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    z-index: 1;
}

#cucinaCar {
    background-image: url(assets/cucina.png);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    z-index: 2;
    opacity: 1;
}

#inadaCar {
    background-image: url(assets/inada.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) scale(1);
    filter: brightness(100%);
    z-index: 3;
    opacity: 1;
}

#saveurCar {
    background-image: url(assets/saveurdumonde.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    z-index: 2;
    opacity: 1;
}

#hanoiCar {
    background-image: url(assets/Hanoi.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    z-index: 1;
    opacity: 1;
}

#terramiaCar {
    background-image: url(assets/terramia.PNG);
    /*background-size: cover;*/
    size: center;
    background-repeat: no-repeat;
    transform: translateX(-50%) scale(1.5);
    filter: brightness(40%);
    z-index: 1;
    opacity: 0;
}

@media screen and (min-width: 600px) {
    #georges {
        background-size: 100%;
    }

    #auguste {
        background-size: 100%;
    }

    #prairial {
        background-size: 100%;
    }

    #rem {
        background-size: 100%;
    }

    #simone {
        background-size: 100%;
    }

    #inada {
        background-size: 100%;
    }

    #saveur {
        background-size: 100%;
    }

    #shifumii {
        background-size: 100%;
    }

    #hanoi {
        background-size: 100%;
    }

    #palio {
        background-size: 100%;
    }

    #avarelo {
        background-size: 100%;
    }

    #terramia {
        background-size: 100%;
    }

    #cucina {
        background-size: 100%;
    }



}