* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    width: 100%;
    /*METTRE LE BODY A 100%*/

    border: solid blue;
}

:root {
    --main-color: white;
    --font-primaire: #f4f4f4;
    --font-second: #fac758;
    --nav-color: #650808;
    --font-familyPrincipal: helvetica;
    --font-familyTitle: "Roboto", sans-serif;

    --dark-color: black;
}

/* FONT */
h1,
h2 {
    font-family: var(--font-familyTitle);
    color: #650808;
    text-align: center;
    padding: 1.5rem;
}

/* h3 {
    font-family: var(--font-familyPrincipal);
    font-size: 0.8rem;
    color: var(--dark-color);
} */

/* SECTION 1 : TYPES DE RESTAURANTS */

/* images : types de restairants */
#asiatic {
    background-image: url(../assets/img-accueil/asiatic.png);
}
#italian {
    background-image: url(../assets/img-accueil/italian.png);
}
#american {
    background-image: url(../assets/img-accueil/american.png);
}
#traditionnal {
    background-image: url(../assets/img-accueil/french.png);
}

/* container : images restos */
.typeOfRestos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
}

/* images .typeOfRestos */
.typeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    width: 46vw;
    height: 46vw;
    background-size: cover;
    border: none;
    padding: none;
}

.typeImg a {
    text-align: center;
}

/* SECTION 2 : COUP DE COEUR */

/* coup de coeur 1 */
#favorite1 {
    background-image: url(../assets/img-accueil/vegan.png);
}

/* coup de coeur 2 */
#favorite2 {
    background-image: url(../assets/img-accueil/african.png);
}

/* container : images restos */
.favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    gap: 0.5rem;
    padding: 0.2rem;
    padding-bottom: 7vw;
}

/* images .favorites */
.favoriteImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46vw;
    height: 46vw;
    background-size: cover;
    border: none;
    padding: none;
}