/*   ============== seconde partie ============= */
h2 {
    font-size: 1.1rem;
    font-family: var(--font-familyPrincipal);
    text-align: center;
}

#suggestions {
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}



.line {
    border: solid #000;
    width: 5.5em;
    height: 0;
}

#autre {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.suggest {
    display: flex;
    flex-direction: column;

}

#first {
    padding-right: 1em;
    background-color: rgb(156, 39, 176);
}

#second {
    padding-right: 1em;
    background-color: rgb(255, 234, 0);
}

#thirth {
    padding-right: 1em;
    background-color: rgb(2, 136, 209);
}

#fourth {
    padding-right: 1em;
    background-color: rgb(15, 157, 88);
}

/*================Carrousel===================*/
#carousel {
    width: 100%;
    max-width: 100vw;
    height: 170px;
    /* position: absolute;
top: 75%;*/
    padding-top: 80px;
    transform: translateY(-50%);
    overflow: hidden;
}


.autreImg {
    width: 10em;
    max-width: 100vw;
    border-radius: 5%;
    height: 4.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    left: 50%;
    background-color: #000;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes mv0to5 {
    0% {
        transform: translateX(-50%) translateX(-120%) scale(0.6);
        filter: brightness(40%);
        opacity: 1;
        z-index: 2
    }

    20% {
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) scale(0.6);
        filter: brightness(40%);
        opacity: 0;
        z-index: 1
    }
}

@keyframes mv1to0 {
    0% {
        transform: translateX(-50%) translateX(-80%) scale(0.8);
        filter: brightness(65%);
        opacity: 1;
        z-index: 3;
    }

    100% {
        transform: translateX(-50%) translateX(-120%) scale(0.6);
        filter: brightness(40%);
        opacity: 1;
        z-index: 2;
    }
}

@keyframes mv2to1 {
    0% {
        transform: translateX(-50%) scale(1);
        z-index: 3;
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateX(-80%) scale(0.8);
        filter: brightness(65%);
        opacity: 1;
        z-index: 3;

    }
}

@keyframes mv3to2 {
    0% {
        transform: translateX(-50%) translateX(80%) scale(0.8);
        z-index: 2;
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) scale(1);
        z-index: 3;
        opacity: 1;
        filter: brightness(100%);

    }
}

@keyframes mv4to3 {
    0% {
        transform: translateX(-50%) translateX(120%) scale(0.6);
        z-index: 1;
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateX(80%) scale(0.8);
        z-index: 2;
        opacity: 1;
        filter: brightness(65%);
    }
}

@keyframes mv5to4 {
    0% {
        transform: translateX(-50%) scale(1.5);
        z-index: 1;
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateX(120%) scale(0.6);
        z-index: 1;
        opacity: 1;
    }
}

.mv0to5 {
    animation: 2s ease-out mv0to5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mv1to0 {
    animation: 2s ease-out mv1to0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mv2to1 {
    animation: 2s ease-out mv2to1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mv3to2 {
    animation: 2s ease-out mv3to2;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mv4to3 {
    animation: 2s ease-out mv4to3;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mv5to4 {
    animation: 2s ease-out mv5to4;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}